ion-textarea {
  --padding-top: 12px;
  --padding-bottom: 12px;
  min-height: 150px;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  margin-bottom: 16px;
}

ion-button[type="submit"] {
  margin-top: 24px;
}

ion-select {
  width: 100%;
  justify-content: flex-start;
  --padding-start: 0;
}
